/* Estilos gerais do cabeçalho */
.cabecalho {
    background-color: var(--5);
    width: 100%;
    transition: top 0.6s;
    position: fixed;
    top: 0;
    z-index: 1;
}

/* Ocultar elementos de menu em telas menores */
.cabecalho-menu, .cabecalho-menus {
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}

/* Classes de visibilidade do cabeçalho */
.cabecalho.hidden {
    top: -100px;
}

.cabecalho.visible {
    top: 0;
}

@media screen and (max-width: 949px) {
    .cabecalho {
        height: 50px;
    }

    .cabecalho-logo img {
        max-height: 30px;
    }
}

@media screen and (min-width: 950px) {
    .cabecalho {
        height: 50px;
        padding-left: 40px;
        padding-right: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 2px 0 0 #5C6A5A;
        margin-bottom: 2px;
    }
    .cabecalho-menus {
        width: 400px;
    }
    .cabecalho-menu {
        display: inline-block;
        padding-right: 1rem;
        font-size: 0.8rem;
    }
    .cabecalho-logo {
        max-width: 50px;
        max-height: 50px;
    }
    .cabecalho-logo img {
        height: 30px;
    }
    .cabecalho-pesquisa {
        width: 400px;
        text-align: right;
        font-size: 0.8rem;
    }
    .cabecalho-pesquisa img {
        max-width: 15px;
        max-height: 15px;
        margin-right: 8px;
    }
}

/* Estilos adicionais para telas ainda maiores */
@media screen and (min-width: 1060px) {
    .cabecalho {
        height: 70px;
    }
    .cabecalho-menus {
        width: 600px;
    }
    .cabecalho-menu {
        font-size: 1rem;
    }
    .cabecalho-logo img {
        height: 50px;
    }
    .cabecalho-pesquisa {
        width: 600px;
        font-size: 1rem;
    }
}

@media screen and (min-width: 1190px) {
    .cabecalho-menu {
        font-size: 1.2rem;
    }
    .cabecalho-pesquisa {
        font-size: 1.2rem;
    }
}

/* Estilos para dispositivos menores */
@media screen and (max-width: 950px) {
    .cabecalho {
        display: block;
        text-align: center;
        padding: 10px;
    }
    .cabecalho-menus {
        display: none;
    }
    .cabecalho-logo {
        margin: 0 auto;
    }
    .cabecalho-logo img {
        height: 40px;
    }
    .cabecalho-pesquisa {
        margin-top: 10px;
    }
    .cabecalho-pesquisa img {
        max-width: 20px;
        max-height: 20px;
    }
}

@media screen and (max-width: 949px) {
    .cabecalho-pesquisa {
       display: none;
    }
}