section.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
    position: relative; /* Adiciona position relative para o slider */

    max-width: 800px;
    max-height: auto;
}

.slider-content {
    width: 300%; /* Número total de imagens */
    height: auto;
    display: flex;
}

.slider-content input {
    display: none;
}

.slide-box {
    width: 33.33%; 
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img {
    width: 100%;
}

/* Navegação automática e manual */
.nav-manual, .nav-auto {
    position: absolute;
    bottom: 20px; /* Ajuste conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div {
    border: 1px solid black;
    padding: 0.3rem; /* Tamanho do botão manual, tamanho original 10px */
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

/* Ajuste da imagem dentro do slide */
.slide-box img {
    width: 100%;
    /* height: auto; */
}

.nav-manual, .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
    margin-right: 0.4rem;
}

.nav-manual .manual-btn:hover {
    background-color: pink;
}

#radio1:checked ~ .nav-auto .auto-btn1,
#radio2:checked ~ .nav-auto .auto-btn2,
#radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: pink;
}

#radio1:checked ~ .slide-box {
    /* margin-left: 0%; */
    transform: translateX(0);
}
#radio2:checked ~ .slide-box {
    /* margin-left: -25%; */
    transform: translateX(-100%);
}
#radio3:checked ~ .slide-box {
    /* margin-left: -50%; */
    transform: translateX(-200%);
}

@media screen and (min-width: 850px) {
    section.slider {
        margin: 0 auto;
        width: 100%;
        /* height: auto; */
        padding: 0 !important;
        overflow: hidden;
        position: relative; /* Adiciona position relative para o slider */
    
        max-width: 100%;
        max-height: 550px;
    }
    
    .slider-content {
        width: 300%; /* Número total de imagens */
        height: auto;
        display: flex;
    }
    
    .slider-content input {
        display: none;
    }
    
    .slide-box {
        width: 33.33%; 
        height: auto;
        position: relative;
        text-align: center;
        transition: 1s;
    }
    
    .slide-box img {
        width: 100%;
    }
    
    /* Navegação automática e manual */
    .nav-manual, .nav-auto {
        position: absolute;
        bottom: 20px; /* Ajuste conforme necessário */
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
    }
    
    .nav-manual .manual-btn, .nav-auto div {
        border: 1px solid black;
        padding: 0.3rem; /* Tamanho do botão manual, tamanho original 10px */
        border-radius: 50%;
        cursor: pointer;
        transition: 0.2s;
    }
    
    .nav-manual, .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
        margin-right: 0.4rem;
    }
    
    .nav-manual .manual-btn:hover {
        background-color: pink;
    }
    
    #radio1:checked ~ .nav-auto .auto-btn1,
    #radio2:checked ~ .nav-auto .auto-btn2,
    #radio3:checked ~ .nav-auto .auto-btn3 {
        background-color: pink;
    }
    
    #radio1:checked ~ .slide-box {
        /* margin-left: 0%; */
        transform: translateX(0);
    }
    #radio2:checked ~ .slide-box {
        /* margin-left: -25%; */
        transform: translateX(-100%);
    }
    #radio3:checked ~ .slide-box {
        /* margin-left: -50%; */
        transform: translateX(-200%);
    }
}